<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/template/css/template.css">
        <script type="text/javascript" src="/template/main_template.js"></script>
        <script type="text/javascript" src="/chat/js.js"></script>
        <script type="text/javascript" src="/notifications/js.js"></script>
        <?headers?>
        <title><?title?></title>
    </head>

    <body onload="startChat(); templateLoaded()">

    <div id="navbar">
        <span onclick="window.location='/home/'" id="navbar-home">
           <img src="http://natpat.net/groupee/icons/groupee-icon-white.png">
        </span>
        <span id="navbar-shortcuts" onclick="showShortcuts()">
            <img id="shortcuts-icon" src="http://natpat.net/groupee/icons/shortcuts.png">
            <div id="popover-shortcuts">
                <div class="popover-arrow"></div>
                <img src="http://natpat.net/groupee/icons/todo.png" onclick="goTo('todos')">
                <img src="http://natpat.net/groupee/icons/whiteboard.png" onclick="goTo('whiteboard')">
                <img src="http://natpat.net/groupee/icons/timetable.png" onclick="goTo('calendar')">
                <img src="http://natpat.net/groupee/icons/posts.png" onclick="goTo('posts')"> </br>
                <img src="http://natpat.net/groupee/icons/documents.png" onclick="goTo('documents')">
                <img src="http://natpat.net/groupee/icons/photos.png" onclick="goTo('photos')">
                <img src="http://natpat.net/groupee/icons/settings.png" onclick="goTo('groupsettings')">
            </div>
        </span>
        <span id="navbar-group">
        </span>
        <span id="navbar-right">
            <span onclick="showNotifications(event)" id="navbar-notifications">
                <img src="http://natpat.net/groupee/icons/bell.png">
                <div id="new-notification"></div>
                <div id="notifications">
                </div>
            </span>
            <span onclick="window.location='/groups/'" id="navbar-groups">
                <img src="http://natpat.net/groupee/icons/groups.png">
                <span id="popover-groups">Groups</span>
            </span>

            <span onclick="logout(); window.location='/login/index.html'" id="navbar-logout">
                <img src="http://natpat.net/groupee/icons/logout.png">
                <span id="popover-logout">Log out</span>
            </span>

            <span id="navbar-self">
            </span>

            <span onclick="window.location='/usersettings/'" id="avatar-self">
                <span id="popover-avatar">Profile settings</span>
            </span>
        </span>
    </div>

    <div id="chat-left">
        <div id="chat-toggle" onclick="toggleChat()">
            <span id="half1"></span>
            <span id="half2"></span>
            <div id="chat-toggle-icon">
                <img src="http://natpat.net/groupee/icons/chat-icon.png">
                <div id="new-messages-icon"></div>
            </div>
        </div>

        <div id="chat-messages">
            <ol id="chat">
                <!-- Chat messages get added here -->
            </ol>
        </div>
        <div id="chat-box">
            <!-- Chat box gets inserted here by js -->
        </div>
    </div>

    <div id="content" onclick="hideShortcuts()">
        <?content?>
    </div>
    </body>

</html>
