<html>
    <head>
        <script type="text/javascript" src="/template/no_group_template.js"></script>
        <link rel="stylesheet" type="text/css" href="/template/css/no_group_template.css">
        <script type="text/javascript" src="/notifications/js.js"></script>
        <?headers?>
        <title><?title?></title>
    </head>

    <body onload="templateLoaded();">

    <div id="navbar">
        <span onclick="window.location='/groups/'" id="navbar-home">
           <img src="http://www.doc.ic.ac.uk/project/2014/271/g1427136/icons/groupee-icon-white.png">
        </span>

        <span id="navbar-right">
            <span onclick="showNotifications(event)" id="navbar-notifications">
                <img src="http://www.doc.ic.ac.uk/project/2014/271/g1427136/icons/bell.png">
                <div id="new-notification"></div>
                <div id="notifications">
                </div>
            </span>
            <span onclick="window.location='/groups/'" id="navbar-groups">
                <img src="http://www.doc.ic.ac.uk/project/2014/271/g1427136/icons/groups.png">
                <span id="popover-groups">Groups</span>
            </span>
            <span onclick="logout(); window.location='/login/index.html'" id="navbar-logout">
                <img src="http://www.doc.ic.ac.uk/project/2014/271/g1427136/icons/logout.png">
                <span id="popover-logout">Log out</span>
            </span> 

            <span id="navbar-self">
            </span>

            <span onclick="window.location='/usersettings/'" id="avatar-self">
                <span id="popover-avatar">Profile settings</span>
            </span> 
        </span>
    </div>

    <div id="content">
        <?content?>
    </div>  
    </body>

</html>
