canvas { 
    border: 1px solid black; 
    position:absolute;
}

#wrapper {
    float: left;
    margin: 20px;
    position:relative;
    width:800px;
    height:500px;
    cursor:none;
    background-color: white;
}

#textHidden {
    position:absolute;
    left:-500px;
    top:-500px;
}

#tools {
    text-align: center;
    padding-top:20px;
    position: fixed;
    right:0;
    float: right;
    width:40px;
    background-color: white;
    height: 100%;
}

#current-tool {
    padding: 5px;
    margin-bottom: 20px;
    background-color: gray;
}

.tool {
    background-color: white;
}

#line-thickness img {
    width: 32px;
}

#select-tool img {
    padding: 5px;
    width: 25px;
}
 #currTool {
    display: none;
 }

