body {
  background: #2c3e50;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Helvetica', sans-serif;
  overflow-x: hidden;
}

#wrapper {
  /*text-align: center;*/
  position: relative;
  width: 90%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.name {
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  font-size: 21px;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 142px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: rgba(0, 0, 0, 0.247059) 0px 7px 15px;
}


#todo {
  float: left;
  position: relative;
  background-color: #4B6B8B;
  width: 300px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 80px;
  box-shadow: 0px 0px 30px 0px black; 
  border-radius: 35px;
}

#doing {
  float: left;
  position: relative;
  background-color: #4B6B8B;
  width: 300px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 80px;
  box-shadow: 0px 0px 30px 0px black; 
  border-radius: 35px;
}

#done {
  float: left;
  position: relative;
  background-color: #4B6B8B;
  width: 300px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 80px;
  box-shadow: 0px 0px 30px 0px black; 
  border-radius: 35px;
}
