body {
  background: #2c3e50;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Helvetica', sans-serif;
}

#wrapper {
  position: relative;
  display: block;
  width: 1000px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.label {
  position: absolute;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  font-weight: 300;
  font-size: 21px;
  line-height: 1.2;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 142px;
  height: 28px;
  margin-top: 160px;
  text-shadow: rgba(0, 0, 0, 0.247059) 0px 7px 15px;
}


/* icons */

#todo, #whiteboard, #timetable, #posts, #documents, #photos, #code-viewer, #settings {
  width: 142px;
  height: 142px;
  float: left;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 80px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,.1); 
  border-radius: 35px;
  /*-webkit-filter: blur(15px);*/
  -webkit-transition: -webkit-filter .50s;
  -webkit-backface-visibility: hidden; /*fixes Flash bug*/
}

#mail:hover, #contacts:hover, #calender:hover, #notes:hover, #reminders:hover, #find:hover, #pages:hover, #numbers:hover, #keynote:hover {
/*  -webkit-filter: blur(10px);
  -webkit-transition: -webkit-filter .50s; 
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0);*/
}

#todo:active, #whiteboard:active, #timetable:active, #posts:active, #documents:active, #photos:active, #code-viewer:active, #settings:active {
  opacity: 0.8; 
}

#todo {
  background-image: url(https://lh5.ggpht.com/5aMofcRnMdrYe0ytYyRNcGn9iPiPJjBHUeI4hUfnRfihDtoR5ZxpXjA83Um0stg9-odQ=w300);
}

#whiteboard {
  background-image: url(http://www.ten90group.com/images/who_we_are/brainstorm_icon.png); 
}

#timetable {
  background-image: url(https://cdn4.iconfinder.com/data/icons/flat-icon-set/2133/flat_icons-graficheria.it-06.png);
}

#posts {
  background-image: url(https://cdn2.iconfinder.com/data/icons/metro-ui-dock/512/Sticky_Notes.png);
}

#documents {
  background-image: url(https://cdn2.iconfinder.com/data/icons/squareplex/512/documents.png);
}

#photos {
  background-image: url(http://icons.iconarchive.com/icons/tristan-edwards/sevenesque/1024/Preview-icon.png);
}

#code-viewer {
  background-image: url(https://cdn3.iconfinder.com/data/icons/seo-internet-marketing-flat-icons/128/web-code.png);
}

#settings {
  background-image: url(http://icons.iconarchive.com/icons/grafikartes/flat-retro-modern/256/settings-icon.png);
}

/* additional */
/*#group {
  margin-left: 15px;
  margin-top: 15px;
  width:56px;
  height: 16px;
}*/


.chat-space {
    background-color: #4B6B8B;
    overflow-y: auto;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.chat-space h1 {
    color: white;
}

.content {
    background-color: #2c3e50;
    position: absolute;
    top: 0;
    left: 250px;
    right: 0;
    bottom: 0;
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

input[type=checkbox] {
   display: none;
}

input:checked ~ .content { 
    left: 0;
}

input:checked ~ label {
    left: 10px;
}

label {
    z-index: 2;
    position: absolute;
    top: 10px;
    left: 260px;
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

.chat-button {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
  background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
  background-color:#33bdef;
  -moz-border-radius:37px;
  -webkit-border-radius:37px;
  border-radius:37px;
  border:1px solid #057fd0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Trebuchet MS;
  font-size:15px;
  padding:8px 19px;
  text-decoration:none;
  text-shadow:0px -1px 0px #5b6178;
}
.chat-button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
  background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
  background-color:#019ad2;
}
.chat-button:active {
  position:relative;
  top:1px;
}

