body {
  font-family: 'Helvetica', sans-serif;
}

.main-body {
  height: 95%;
  position: relative;
}

#wrapper {
  position: relative;
  display: block;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.label {
  position: absolute;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  font-weight: 300;
  font-size: 21px;
  line-height: 1.2;
  color: black;
  text-align: center;
  width: 142px;
  height: 28px;
  margin-top: 160px;
  text-shadow: rgba(0, 0, 0, 0.247059) 0px 7px 15px;
}


/* icons */

#todo, #whiteboard, #timetable, #posts, #documents, #photos, #code-viewer, #settings {
  width: 142px;
  height: 142px;
  float: left;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 80px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,.1); 
  border-radius: 35px;
  /*-webkit-filter: blur(15px);*/
  -webkit-transition: -webkit-filter .50s;
  -webkit-backface-visibility: hidden; /*fixes Flash bug*/
}

#todo:active, #whiteboard:active, #timetable:active, #posts:active, #documents:active, #photos:active, #code-viewer:active, #settings:active {
  opacity: 0.8; 
}

#todo {
  background-image: url(http://www.doc.ic.ac.uk/project/2014/271/g1427136/icons/todo.png);
}

#whiteboard {
  background-image: url(http://www.doc.ic.ac.uk/project/2014/271/g1427136/icons/whiteboard.png);
}

#timetable {
  background-image: url(http://www.doc.ic.ac.uk/project/2014/271/g1427136/icons/timetable.png);
}

#posts {
  background-image: url(http://www.doc.ic.ac.uk/project/2014/271/g1427136/icons/posts.png);
}

#documents {
  background-image: url(http://www.doc.ic.ac.uk/project/2014/271/g1427136/icons/documents.png);
}

#photos {
  background-image: url(http://www.doc.ic.ac.uk/project/2014/271/g1427136/icons/photos.png);
}

#code-viewer {
  background-image: url(http://www.doc.ic.ac.uk/project/2014/271/g1427136/icons/code.png);
}

#settings {
  background-image: url(http://www.doc.ic.ac.uk/project/2014/271/g1427136/icons/settings.png);
}
