.create {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.create-submit {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1); 
    background-color: #FF8300;
}

.create-submit:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #FF9A30;
}

.create-text {
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.create-text {
    width: 100%;
    text-align: center;
    font-size: 14px;
}

