#form-wrapper {
	  /*display: none;*/
	  position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 80px;
    opacity: 1;
    z-index: 20;
}

.upload-card {
  padding: 40px;
  width: 274px;
  background-color: #f5f5f5;
  margin: 0px auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  text-align: center;
}

.upload-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.upload-card input[type=submit] {
  width: 80%;
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.upload {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.upload-submit {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1); 
    background-color: #FF8300;
}

.upload-submit:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #FF9A30;
}


.upload-card input[type=file] {
  height: 44px;
  font-size: 16px;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
  -webkit-appearance: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
