body {
	width: 100%;
	margin: 0px;
}

/* NAVBAR STYLING */

#navbar {
	z-index: 2;
	position: fixed;
    background-color: red;
    width: 100%;
    height: 50px;
    text-align: center;
}

#navbar-right {
    float:right;
    margin-right: 10px;
}

#navbar-home {
    float:left; 
    margin-left: 10px;
}

#navbar span {
	display: inline-block;
}


/* CHAT STYLING */

#chat-left {
	width: 300px;
	height: 100%;
	position: fixed;
	margin-top: 50px;
}

#chat-toggle {
	display: block;
	background-color: blue;
	width: 15px;
	height: 100%;
    z-index: 2;
    position: absolute;
    left: 285px;
    -webkit-transition: left -1.5s ease;
    -moz-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

/* CONTENT STYLING */

#content {
	position: absolute;
	top: 50px;
	left: 300px;
	-webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
  	background: #2c3e50;
}

