@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

body {
  margin:0;
  background: #c3d7df;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.add-card {
  padding: 40px;
  width: 274px;
  background-color: #F7F7F7;
  margin: 80px auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.add-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.add-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.add-card input[type=text] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.add-card input[type=text]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.add {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.add-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #FF8300;
}

.add-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #FF9A30;
}

.add-text {
  width: 100%;
  text-align: center;
  font-size: 14px;
}

#error {
    color: #c33;
    font-weight: 400;
    opacity: 0.7;
}

#success {
  color: blue;
  font-weight: 400;
  opacity: 0.7;
}


#navbar {
  z-index: 2;
  background-color: #4C687C;
  width: 100%;
  height: 50px;
  text-align: center;
  position: fixed;
  top:0;
}

#navbar-home {
    background-color: #3D5363;
    float:left; 
}

#navbar-home img {
  height:40px;
  margin: 5px;
}

#navbar span {
  display: inline-block;
}


#navbar-right {
    height: 100%;
    float:right;
    margin-right: 10px;
}

#navbar-right img {
  height: 30px;
  margin: 10px;
}



#navbar-logout {
  position: relative;
  display: inline;
}

#navbar-logout #popover-logout {
  position: absolute;
  width:50px;
  color: #FFFFFF;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 8px;
}

#navbar-logout #popover-logout:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: 0px;
  width: 0; height: 0;
  border-bottom: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

#navbar-logout:hover #popover-logout {
  width:80px;
  font-size: 10pt;
  visibility: visible;
  opacity: 0.8;
  top: 55px;
  left: 50%;
  margin-left: -50px;
  z-index: 999;
}

