body {
  margin:0;
  background: #c3d7df;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Helvetica', sans-serif;
  overflow-x: hidden;
}

#wrapper {
  display: block;
  width: 80%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.group-name {
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  font-weight: bold;
  font-size: 21px;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 142px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: rgba(0, 0, 0, 0.247059) 0px 7px 15px;
}

.group-description {
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  font-weight: 300;
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 142px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: rgba(0, 0, 0, 0.247059) 0px 7px 15px;
}

.create-group {
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  font-weight: 300;
  font-size: 21px;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 142px;
  height: 28px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: rgba(0, 0, 0, 0.247059) 0px 7px 15px;
}

#group {
  position: relative;
  background-color: #4B6B8B;
  width: 200px;
  height: 400px;
  float: left;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 80px;
  box-shadow: 0px 0px 30px 0px black; 
  border-radius: 20px;

}

#add {
  text-align: center;
  background-color: #4B6B8B;
  width: 200px;
  height: 400px;
  float: left;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 80px;
  box-shadow: 0px 0px 30px 0px black;  
  border-radius: 20px;
}

#add-img {
  width: 50%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#navbar {
  z-index: 2;
  background-color: #4C687C;
  width: 100%;
  height: 50px;
  text-align: center;
  position: fixed;
  top:0;
}

#navbar-home {
    background-color: #3D5363;
    float:left; 
}

#navbar-home img {
  height:40px;
  margin: 5px;
}

#navbar span {
  display: inline-block;
}


#navbar-right {
    height: 100%;
    float:right;
    margin-right: 10px;
}

#navbar-right img {
  height: 30px;
  margin: 10px;
}


#navbar-logout {
  position: relative;
  display: inline;
}

#navbar-logout #popover-logout {
  position: absolute;
  width:50px;
  color: #FFFFFF;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 8px;
}

#navbar-logout #popover-logout:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: 0px;
  width: 0; height: 0;
  border-bottom: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

#navbar-logout:hover #popover-logout {
  width:80px;
  font-size: 10pt;
  visibility: visible;
  opacity: 0.8;
  top: 55px;
  left: 50%;
  margin-left: -50px;
  z-index: 999;
}