body {
  margin:0;
  background: #c3d7df;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Helvetica', sans-serif;
  overflow-x: hidden;
}

#wrapper {
  display: block;
  width: 80%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.group-name {
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  font-weight: bold;
  font-size: 21px;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 142px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: rgba(0, 0, 0, 0.247059) 0px 7px 15px;
}

.group-description {
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  font-weight: 300;
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 142px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: rgba(0, 0, 0, 0.247059) 0px 7px 15px;
}

.create-group {
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  font-weight: 300;
  font-size: 21px;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 142px;
  height: 28px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: rgba(0, 0, 0, 0.247059) 0px 7px 15px;
}

#group {
  position: relative;
  background:#7E8083;
  transition:all 0.3s ease;
  width: 200px;
  height: 300px;
  float: left;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 80px;
  border-radius: 20px;
}

#group:hover {
  background-color: #6991AC;
}

.group-avatars {
  position:absolute;
  left:12px;
  bottom:12px;
}

.group-avatar {
  width:40px;
  height:40px;
  padding: 2px;
  position: relative;
}

.avatar-img {
  width:40px;
  height:40px;
  border-radius:25px;
  background-size:cover;
  display:inline-block;
  background-position: 50% 50%;
  background-repeat: none;
}

.group-avatar .popover-avatar {
  position: absolute;
  color: #FFFFFF;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 8px;
  z-index: 12;
}

.group-avatar .popover-avatar:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-bottom: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.group-avatar:hover .popover-avatar {
  width:80px;
  font-size: 10pt;
  visibility: visible;
  opacity: 0.8;
  top: 30px;
  left: 50%;
  margin-left: -40px;
}
#create-group, #join-group {
    display:none;
}

#add {
  text-align: center;
  background-color: #7E8083;
  transition: all 0.3s ease;
  width: 200px;
  height: 300px;
  float: left;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 80px;
  border-radius: 20px;
}

#add:hover {
  background-color: #D75C37;
}

#add-img {
  width: 50%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#loading {
    position: absolute;
    left:0; right:0; top:0; bottom:0;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
    width:150px;
    height:70px;
    text-align:center;
}

#loading div {
    display:inline-block;
}
