body {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-x: hidden;
}

.content {
  	position: absolute;
    top: 0;
    left: 300px;
    right: 0;
    bottom: 0;
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
  	background: #2c3e50;
}


.chat-space {
    background-color: #4B6B8B;
    /*overflow-y: auto;*/
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

input[type=checkbox] {
    display: none;
}

input:checked ~ .content { 
    left: 0;
}

input:checked ~ label {
    left: 10px;
}

label {
    z-index: 2;
    position: absolute;
    top: 10px;
    left: 310px;
    -webkit-transition: left -1.5s ease;
    -moz-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

.chat-button {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
  background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
  background-color:#33bdef;
  -moz-border-radius:37px;
  -webkit-border-radius:37px;
  border-radius:37px;
  border:1px solid #057fd0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Trebuchet MS;
  font-size:15px;
  padding:8px 19px;
  text-decoration:none;
  text-shadow:0px -1px 0px #5b6178;
}
.chat-button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
  background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
  background-color:#019ad2;
}
.chat-button:active {
  position:relative;
  top:1px;
}


.discussion {
  /*overflow-y: auto;*/
  /*height: calc(100% - 30px);*/
  list-style: none;
  margin: 0;
  padding-left:0px;
}


li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}

.avatar {
  position: relative;
}

.avatarimage {
  width: 40px;
}

.other .avatarimage {
    position:absolute;
}

/*Align the self comments to the right*/
.self {
  justify-content: flex-end;
  align-items: flex-end;
}

/*Flip around the order of the messages and avatar*/
.self .messages {
    order:1;
}

.self .avatar {
    order:2;
}

/*SELF TRIANGLE*/
.self .avatar:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid #C6D9FF;
  border-right-color: transparent;
  border-top-color: transparent;
}

/*OTHER TRIANGLE*/
.other .avatar:after {
      content: "";
      position: absolute;
      top: 0;
      right: -40px;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-left-color: transparent;
      border-bottom-color: transparent;
}

.self .messages {
  max-width: 220px;
  background: #C6D9FF;
  padding: 5px;
  border-radius: 2px;
  -webkit-border-bottom-right-radius: 0px;
}

.other .messages {
  max-width: 220px;
  background: white;
  padding: 5px;
  border-radius: 2px;
  -webkit-border-top-left-radius: 0px;
  margin-left:40px;
}

.self .messages p {
  font-size: 0.8rem;
  word-wrap: break-word;
  margin: 0 0 0.2rem 0;
}

.other .messages p {
  font-size: 0.8rem;
  word-wrap: break-word;
  margin: 0 0 0.2rem 0;
}

#chat-messages {
    position:relative;
    height:95%;
    overflow-y:auto;
}

/*#chat-box {
    position: absolute;
    width: 100%;
    height: 30px;
    text-align: center;
    left: 0;
    bottom: 0;
    background: #4B6B8B;

}*/

#message {
  width: 150px;
}

#chat-box {
  position:fixed;
  width: 100%;
  height: 50px;
  padding-left:45px;
  padding-top: 10px;
}
